[Unit]
Description=Lab Script at Boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lab-script.sh
Restart=no

[Install]
WantedBy=multi-user.target